:root {
  font-family: 'Roboto', sans-serif;  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
}

#img_fiap{
  width: 300px;
  border-radius: 800px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}


button {
  margin: 10px;
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 8px;
  font-size: 10px;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #f9f9f9;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#icon_button{
  padding: 10px;
  font-size: 30px;
}

input {
  border-radius: 8px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
